.DS_Store
fonts/*.ttf
fonts/*.otf
fonts/*.TTF
Sounds/
bin/dmenu
bin/dwm
dmenu/dmenu
fonts/
icons/
original_mac
themes
vim/vim/.VimballRecord
vim/vim/.netrwhist
vim/viminfo
vimperator/vimperator/info/
zsh/zhistory
zsh/zsh/cache
*.o
*.zip
*.bz2
*.tar.gz
dmenu/dmenu
dmenu/lsx
dmenu/dmenu_run
dwm/dwm
dwm/dwmstatus-1.0/dwmstatus
*.swp
tmux.conf
