[submodule "vim/vim/bundle/vim-surround.git"]
	path = vim/vim/bundle/vim-surround.git
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vim/bundle/vim-rails.git"]
	path = vim/vim/bundle/vim-rails.git
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/vim/bundle/vim-liquid.git"]
	path = vim/vim/bundle/vim-liquid.git
	url = https://github.com/tpope/vim-liquid.git
[submodule "vim/vim/bundle/vim-cucumber.git"]
	path = vim/vim/bundle/vim-cucumber.git
	url = https://github.com/tpope/vim-cucumber.git
[submodule "vim/vim/bundle/vim-fugitive.git"]
	path = vim/vim/bundle/vim-fugitive.git
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim/bundle/vim-markdown.git"]
	path = vim/vim/bundle/vim-markdown.git
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/vim/bundle/vim-unimpaired.git"]
	path = vim/vim/bundle/vim-unimpaired.git
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/vim/bundle/ri.vim.git"]
	path = vim/vim/bundle/ri.vim.git
	url = https://github.com/danchoi/ri.vim.git
[submodule "vim/vim/bundle/vim-repeat.git"]
	path = vim/vim/bundle/vim-repeat.git
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/vim/bundle/vim-commentary.git"]
	path = vim/vim/bundle/vim-commentary.git
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/vim/bundle/vim-ruby.git"]
	path = vim/vim/bundle/vim-ruby.git
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/vim/bundle/ctrlp.vim.git"]
	path = vim/vim/bundle/ctrlp.vim.git
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/vim/bundle/tagbar.git"]
	path = vim/vim/bundle/tagbar.git
	url = https://github.com/majutsushi/tagbar.git
[submodule "prezto"]
	path = prezto
	url = https://github.com/AnthonyDiGirolamo/prezto.git
[submodule "vim/vim/bundle/todo.txt"]
	path = vim/vim/bundle/todo.txt
	url = https://github.com/AnthonyDiGirolamo/todo.txt-vim.git
[submodule "vim/vim/bundle/vim-ragtag.git"]
	path = vim/vim/bundle/vim-ragtag.git
	url = https://github.com/tpope/vim-ragtag.git
[submodule "vim/vim/bundle/vim-endwise.git"]
	path = vim/vim/bundle/vim-endwise.git
	url = https://github.com/tpope/vim-endwise.git
[submodule "bin/els"]
	path = bin/els
	url = https://github.com/AnthonyDiGirolamo/els.git
[submodule "vim/vim/bundle/vim-fish.git"]
	path = vim/vim/bundle/vim-fish.git
	url = https://github.com/aliva/vim-fish
[submodule "vim/vim/bundle/vim-dispatch.git"]
	path = vim/vim/bundle/vim-dispatch.git
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim/vim/bundle/base16-vim.git"]
	path = vim/vim/bundle/base16-vim.git
	url = https://github.com/chriskempson/base16-vim.git
[submodule "vim/vim/bundle/emmet-vim.git"]
	path = vim/vim/bundle/emmet-vim.git
	url = https://github.com/mattn/emmet-vim.git
[submodule "emacs/emacs.d/evil"]
	path = emacs/emacs.d/evil
	url = https://git.gitorious.org/evil/evil.git
[submodule "emacs/emacs.d/emacs-color-theme-solarized.git"]
	path = emacs/emacs.d/emacs-color-theme-solarized.git
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "emacs/emacs.d/base16-emacs.git"]
	path = emacs/emacs.d/base16-emacs.git
	url = https://github.com/AnthonyDiGirolamo/base16-emacs.git
[submodule "vim/vim/bundle/vim-easy-align.git"]
	path = vim/vim/bundle/vim-easy-align.git
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "vim/vim/bundle/vim-airline.git"]
	path = vim/vim/bundle/vim-airline.git
	url = https://github.com/bling/vim-airline.git
[submodule "emacs/emacs.d/evil-surround"]
	path = emacs/emacs.d/evil-surround
	url = https://github.com/timcharper/evil-surround.git
[submodule "emacs/emacs.d/evil-matchit"]
	path = emacs/emacs.d/evil-matchit
	url = https://github.com/redguardtoo/evil-matchit.git
[submodule "emacs/emacs.d/powerline"]
	path = emacs/emacs.d/powerline
	url = https://github.com/Dewdrops/powerline.git
[submodule "emacs/emacs.d/moe-theme"]
	path = emacs/emacs.d/moe-theme
	url = https://github.com/kuanyui/moe-theme.el.git
[submodule "emacs/emacs.d/evil-leader"]
	path = emacs/emacs.d/evil-leader
	url = https://github.com/cofi/evil-leader.git
[submodule "vim/vim/bundle/vim-coffee-script.git"]
	path = vim/vim/bundle/vim-coffee-script.git
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "base16-shell"]
	path = base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "base16-xresources"]
	path = base16-xresources
	url = https://github.com/chriskempson/base16-xresources.git
[submodule "vim/vim/bundle/tmuxline.vim"]
	path = vim/vim/bundle/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "vim/vim/bundle/promptline.vim"]
	path = vim/vim/bundle/promptline.vim
	url = https://github.com/edkolev/promptline.vim.git
[submodule "vim/vim/bundle/unite.vim"]
	path = vim/vim/bundle/unite.vim
	url = https://github.com/Shougo/unite.vim
[submodule "vim/vim/bundle/vimproc.git"]
	path = vim/vim/bundle/vimproc.git
	url = https://github.com/Shougo/vimproc.vim
[submodule "vim/vim/bundle/vim-bundler.git"]
	path = vim/vim/bundle/vim-bundler.git
	url = https://github.com/tpope/vim-bundler.git
[submodule "vim/vim/bundle/vim-rake.git"]
	path = vim/vim/bundle/vim-rake.git
	url = https://github.com/tpope/vim-rake.git
[submodule "vim/vim/bundle/vim-gitgutter.git"]
	path = vim/vim/bundle/vim-gitgutter.git
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/vim/bundle/greplace.vim.git"]
	path = vim/vim/bundle/greplace.vim.git
	url = https://github.com/skwp/greplace.vim.git
