.DS_Store
Sounds/
bin/dmenu
bin/dwm
dmenu/dmenu
icons/
original_mac
themes
vim/vim/.VimballRecord
vim/vim/.netrwhist
vim/viminfo
vimperator/vimperator/info/
zsh/zhistory
zsh/zsh/cache
*.o
*.zip
*.bz2
*.tar.gz
dmenu/dmenu
dmenu/lsx
dmenu/dmenu_run
dwm/dwm
dwm/dwmstatus-1.0/dwmstatus
*.swp
emacs/emacs.d/ac-comphist.dat