[submodule "prezto"]
	path = prezto
	url = https://github.com/AnthonyDiGirolamo/prezto.git
[submodule "bin/els"]
	path = bin/els
	url = https://github.com/AnthonyDiGirolamo/els.git
[submodule "base16-shell"]
	path = base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "base16-xresources"]
	path = base16-xresources
	url = https://github.com/chriskempson/base16-xresources.git
[submodule "emacs.d"]
	path = emacs.d
	url = https://github.com/AnthonyDiGirolamo/dotemacs
[submodule "xcape"]
	path = xcape
	url = https://github.com/alols/xcape.git
[submodule "vim"]
	path = vim
	url = git@gitlab.com:anthonydigirolamo/dotvim-thesecond.git
