.DS_Store
Sounds/
bin/dmenu
bin/dwm
dmenu/dmenu
icons/
original_mac
fonts/FSD - PragmataPro*
themes
vim/vim/.VimballRecord
vim/vim/.netrwhist
vim/viminfo
vimperator/vimperator/info/
zsh/zhistory
zsh/zsh/cache
*.o
*.zip
*.bz2
*.tar.gz
dmenu/dmenu
dmenu/lsx
dmenu/dmenu_run
dwm/dwm
dwm/dwmstatus-1.0/dwmstatus
*.swp
emacs/emacs.d/ac-comphist.dat
emacs/emacs.d/.python-environments/
emacs/emacs.d/eshell/
emacs/emacs.d/projectile-bookmarks.eld
emacs/emacs.d/projectile.cache
emacs/emacs.d/elpa/*.txt
emacs/emacs.d/auto-save-list/
emacs/emacs.d/places
emacs/emacs.d/smex-items
emacs/emacs.d/recentf
/fonts/.uuid
/fonts/google-drive
