[submodule "vim/vim/bundle/zencoding-vim.git"]
	path = vim/vim/bundle/zencoding-vim.git
	url = https://github.com/mattn/zencoding-vim.git
[submodule "vim/vim/bundle/vim-surround.git"]
	path = vim/vim/bundle/vim-surround.git
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vim/bundle/vim-rails.git"]
	path = vim/vim/bundle/vim-rails.git
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/vim/bundle/vim-liquid.git"]
	path = vim/vim/bundle/vim-liquid.git
	url = https://github.com/tpope/vim-liquid.git
[submodule "vim/vim/bundle/snipmate.vim.git"]
	path = vim/vim/bundle/snipmate.vim.git
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim/vim/bundle/tcalc_vim.git"]
	path = vim/vim/bundle/tcalc_vim.git
	url = https://github.com/tomtom/tcalc_vim.git
[submodule "vim/vim/bundle/vim-cucumber.git"]
	path = vim/vim/bundle/vim-cucumber.git
	url = https://github.com/tpope/vim-cucumber.git
[submodule "vim/vim/bundle/vim-fugitive.git"]
	path = vim/vim/bundle/vim-fugitive.git
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim/bundle/taglist.vim.git"]
	path = vim/vim/bundle/taglist.vim.git
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim/vim/bundle/vim-markdown.git"]
	path = vim/vim/bundle/vim-markdown.git
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/vim/bundle/command-t"]
	path = vim/vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "vim/vim/bundle/vim-unimpaired.git"]
	path = vim/vim/bundle/vim-unimpaired.git
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/vim/bundle/ri.vim.git"]
	path = vim/vim/bundle/ri.vim.git
	url = https://github.com/danchoi/ri.vim.git
[submodule "vim/vim/bundle/vim-repeat.git"]
	path = vim/vim/bundle/vim-repeat.git
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/vim/bundle/vim-commentary.git"]
	path = vim/vim/bundle/vim-commentary.git
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/vim/bundle/vim-abolish.git"]
	path = vim/vim/bundle/vim-abolish.git
	url = https://github.com/tpope/vim-abolish.git
