snippet f
	Feature: ${1:Description}
	  ${2:In order to...}
	  ${3:As a...}
	  ${4:I should be able to...}
	${5}

snippet b
	Background:
	  ${1:Given...}
	  ${2}

snippet s
	Scenario: ${1:Description}
	  ${2:Given...}
	  ${3}
