snippet f
	Feature: ${1:Description}
	  ${2:As a...}
	  ${3:I should be able to...}
	${4}

snippet b
	Background:
	  ${1:Given...}
	  ${2}

snippet s
	Scenario: ${1:Description}
	  ${2:Given...}
	  ${3}
