[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=dwm
Exec=dwm
NoDisplay=true
X-GNOME-WMName=dwm
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=false
